.footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;

    // &__container {
    //     display: flex;
    //     align-items: baseline;
    // }
    
    &__contact {
        
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-content: center;
            text-align: center;
        }
        @media (min-width: 768px) and (max-width: 1199px) {
            text-align: center;
        }
    }
    &__box {
        flex-direction: row;
        @media (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
}
