.header-contact {
    display: flex;
    padding: 0;

    @media (max-width: 767px) {
        display: none;
    }
    @media (max-width: 1199px) {
        flex-direction: column;
        margin-left: auto;
    }
    @media (min-width: 1200px) {
        margin-left: auto;
    }
    &__icon--post {
        @media (max-width: 1199px) {
            width: 14px;
            height: 10px;
        }
    }
    &__icon--tell {
        @media (max-width: 1199px) {
            width: 10px;
            height: 14px;
        }
    }
}
.header-contact__item {

    @media (max-width: 1199px) {
        margin-bottom: 0;
    }
    @media (min-width: 1200px) {
        margin-left: 40px;
    }

    &:first-child{
        
        @media (max-width: 1199px) {
            margin-bottom: 10px;
        }
        @media (min-width: 1200px) {
            margin-left: 0;
        }
    }
}

.header-contact__link{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-left: auto;
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.16;
    }
    @media (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }

    &:hover,
    &:focus,
    & .header-contact__icon:hover,
    & .header-contact__icon:focus {
    color: var(--accent-color);
    fill: var(--accent-color);

    
}
}



