.subscription {

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    @media (min-width: 1200px) {
        margin-left: 94px;
    }
    &__tittle {
        color: var(--color-text-action);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media (min-width: 768px) and (max-width: 1199px) {
            text-align: center;
        }
    }
}

.subscription__link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--color-text-action);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--color-text-action);
    }
}


